@font-face
{
    font-family: 'Patrick Hand SC';
    src: url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');
}

body { text-align: center; font-family: 'Patrick Hand SC'; }

div#text { font-size: 70px; }

div#number { font-size: 50px; }