@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* { font-family: 'Ubuntu', serif; }

body
{
    margin: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title
{
    font-size: 1.5em;
    padding-bottom: 4ch;
}

button
{
    display: flex;
    align-self: center;
    width: fit-content;
    margin: 2em 0;
}

button:hover
{
    cursor: pointer;
}

.graphs
{
    gap: 5em;
    display: flex;
    justify-content: center;
}

.chart_container
{
    position: relative;
    margin: 1em 0;
}

.chart_container.Hz
{
    margin-top: 3em;
}

.title
{
    position: absolute;
    left: 35%;
    top: -12%;
}

.title.Hz
{
    left: 40%;
}

.notX
{
    display: flex;
    flex-direction: row;
}

#powerX, #speedX, #fX
{
    position: absolute;
    padding-left: 50px;
    bottom: 0;
}

#powerLegend, #speedLegend
{
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    background-color: transparent;
}

#powerY svg, #power svg, #speedY svg, #speed svg, #fY svg, #frequency svg
{
    height: 110%;
}

.inputs
{
    display: flex;
    gap: 10em;
    justify-content: center;
}

.parameters, .computed
{
    display: flex;
    flex-direction: column;
    gap: .5em;
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

.parameters li
{
    display: grid;
    align-items: center;
    gap: 1em;
    grid-template-columns: 30% auto 7%;
}

input
{
    margin-right: 1em;
}

.outputs
{
    display: flex;
    justify-content: center;
}

.computed li
{
    display: grid;
    align-items: center;
    gap: 1em;
    grid-template-columns: 50% auto 10%;
}

.underline { text-decoration: underline; }